.titulo{
    display: flex;
    justify-content: space-between;
    border:5px solid;
    border-color: darkblue;
    background-color: bisque;
    text-align: center;
    align-items: center;
}

.tit{color: darkgreen;


}

body{background-color:lightgray ;}

.texto{
    text-align: center;
}

.tep{
    color:indigo;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20pt;
    font-family: sans-serif;
}

.faixa{
    background-color:lightskyblue ;
    justify-content: center;
    display: flex;
    text-align: center;
    height: 38px;
    gap: 50px;
    /* padding-left: 550px;
    padding-right: 550px; */
    padding-top: 30px;  
}
.faixa a {
    text-decoration: none;
    font-weight: bold;
}

.faixa a:link {
    color: darkred;   
}

.faixa a:visited {
    color: darkred;  
}
.faixa a:hover {
    color: white;
}

.livro{ 
    text-align: center;

}

.livm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 140px; 
    padding-right: 140px;
}

.feit{
    text-align: center;
}

.feim{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 400px; 
    padding-right: 400px;
}

.Contat{
    text-align: center;
}

table,th,tr,td{
    text-align: center;
    border: 5px;
    border-style: dashed;
    border-color: red;
    width: 250px;
    margin: auto;
}

th{color: red;}
td,th{
    border: 2px;
    border-style: solid;
    border-color: red;
}

.consult{
    background-color: yellow;
    justify-content: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.consult ul{
    padding-left: 40px;
    list-style-position: outside;
}

.consult a{
    text-decoration: none;
    font-weight: bold;
    color: darkred;
}

.consult a:hover{
    color: white;
}

.final{
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: bisque;
    font-size: 15pt;
    align-items: center;
    height: 130px;
    font-family:Comic Sans MS;
}

.final img{
    width: 95px;
    height: 105px;
    padding-right: 15px;
}